@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
p
{
    font-weight: 200;
    color: #111;
} 

.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(1.jpg);
    background-size: cover;
}
.banner .content
{
    max-width: 900px;
    text-align: center;
}
.banner .content h2
{
    font-size: 2.5em;
    color: white;
}

.banner .content p
{
    font-size: 1em;
    font-weight: 500;
    color:black;
}
.banner .content p:hover
{
    color:black;
}
.boton
{
    font-size: 1em;
    color: #fff;
    background: #e06b0a;
    display:inline-block ;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: initial;
    text-decoration:none;
    letter-spacing: 1px;
    transition: 0.7s;
}
.boton:hover
{
    letter-spacing: 2px ;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.7s;
}
/*Sticky JS*/
header.sticky
{
    background:black;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    transition:0.7s ;
}
header .logo
{
    color:black;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

/*Sticky JS*/
header.sticky .logo
{
    color: white;
    transition:0.7s ;
}
header.sticky .logo:hover
{
    color: black;
}

header .logo span
{
    color:white;
}
header .logo span:hover
{
    color:black;
}
/*Sticky JS*/
header.sticky .logo span
{
    color: black;
    transition:0.7s ;
}
header .navigation
{
    position: relative;
    display: flex;
}
header .navigation li
{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a
{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 15px;
}
/*Sticky JS*/
header.sticky .navigation li a
{
    color:orange;
    transition:0.7s ;
}
header.sticky .navigation li a:hover
{
    color:orange;
}
section
{
    padding: 100px;
}

.row
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50
{
    position: relative;
    width: 48%;
}
.titleText
{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.titleText span
{
    color: #e06b0a;
    font-weight: 500;
    font-size: 1.4em;
}

.row .col51 .imgBx
{
    position: relative;
    width: 100%;
    /*min-height: 300px;*/
    height: 100%;
}
.row .col51 .imgBx img1
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.values
{
    background: wheat;
}
.container {
    display: flex;
    flex-direction: column;
  }
  
.container-row {
    display: flex;
    flex-direction: row;
  }

.container-title h2
{
    color: #111;
    font-size: 2em;
    font-weight: 300;

}
.container-title h2 span
{
    color: #e06b0a;
    font-weight: 500;
    font-size: 1.4em;

}  
.row-item {
    flex: 0.33;
    color: white;
    background-color: #e06b0a;
    padding: 2rem;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-right: 3px;
    margin-bottom: 3px;
  }
.preview-row-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e06b0a;
    padding: 30px;
  }
.preview-row-item:hover {
    position: absolute;
    left: -9999px;
    transition: 0.8s;
  }
  .preview-row-item > p {
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-top: 15px;
  }
  
  .full-row-item > p {
    color: white;
  }

  .row-item-title {
    margin-bottom: 15px;
    font-size: 22px;
}
.title
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu .content
{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .content .box
{
    width: 340px;
    margin: 50px;
    border: 15px solid #fff;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);

}
.menu .content .box .imgBx
{
    position: relative;
    width: 100%;
    height: 300px;

}
.menu .content .box .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu .content .box .text
{
    padding: 15px 0 5px;
}
.menu .content .box .text h3
{
    font-weight: 400;
    color: #111;
}

.referencias .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.referencias .content .box
{
    width: 250px;
    margin: 15px;

}
.referencias .content .box .imgBx
{
    position: relative;
    width: 100%;
    height: 300px;
}
.referencias .content .box .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.referencias .content .box .text
{
    padding: 15px 0 5px;

}
.referencias .content .box .text h3{
    font-weight: 400;
    color: #111;
}

.contacto
{
    position: relative;
    min-height: 100vh;
    padding: 70px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(contacto1.jpg);
    background-size: cover;
}
.contacto .content
{
    max-width: 800px;
    text-align: center;

}
.contacto .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: black;
}
.contacto .content h2 span
{
    font-size: 36px;
    font-weight: 500;
    color: orange;
}
.contacto .content p
{
    font-weight: 300;
    color: black;
}
.containerContact
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.containerContact .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.containerContact .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.containerContact .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.containerContact .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: black;
    flex-direction: column;
    font-weight: 300;
}
.containerContact .contactInfo .box .text h3
{
    font-weight: 500;
    color:black;
}
.containerContact .contactInfo .box .text p
{
    font-weight: 400;
    color:black;
}

.contactForm
{
    width: 40%;
    padding: 40px;
    background: #fff;
    
}
.contactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0 ;
    border: none;
    border-bottom: 2px solid #111;
    outline: none;
    resize: none;
}
.contactForm .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;


}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
   width: 100px; 
   background: orange;
   color:#111;
   border: none;
   cursor: pointer;
   padding:10px;
   font-size: 18px;
}






